body { 
  background-color: #F4F4F5;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #27272A;
}
.App h1 { 
  text-align: center;
}

* {
  box-sizing: border-box;
}

.App img { 
  height: 48px;
  width: 48px;
}

.footer { 
  text-align: center;
  margin-top: 16px;
}


